:root {
    /* color */
    --color-black: #3f454d;
    --color-white: #ffffff;
    --color-blue: #3b88c3;
    --color-yellow: #fbbe28;
    --color-pink: #fd7f84;
    --color-light-grey: #dfdfdf;

    /* size */
    --item-size: 45px;
    --boder-size: 4px;
    --base-space: 8px;
    --icon-size: 60px;
    --button-font-size: 18px;

    /* animation */
    --animation-speed: 300ms;
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--color-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    cursor: pointer;
    transition: transform var(--animation-speed) ease;
}

.btn:hover,
.logo:hover {
    transform: scale(1.1);
}

.buttons {
    display: flex;
    align-items: center;
}

.btn {
    background-color: transparent;
    border: none;
    outline: none;
    transition: transform var(--animation-speed) ease;
    margin-right: var(--base-space);
}

.imgBtn {
    width: var(--icon-size);
    height: var(--icon-size);
}

.colorBtn {
    font-size: var(--button-font-size);
    padding: calc(var(--base-space) * 2);
    border-radius: var(--boder-size);
}

.blueBtn {
    background-color: var(--color-blue);
}

.yellowBtn {
    background-color: var(--color-yellow);
}

.pinkBtn {
    background-color: var(--color-pink);
}

.items {
    width: 60%;
    height: 60%;
    list-style: none;
    padding-left: 0;
    overflow-y: scroll;
}

.item {
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    padding: var(--base-space);
    margin-bottom: var(--base-space);
}

.item__thumbnail {
    width: var(--item-size);
    height: var(--item-size);
    margin-right: var(--base-space);
}

.invisible {
    display: none;
}
